/* 主页面样式 */
@CHARSET "UTF-8";
*{word-break:break-all; margin:0px; padding:0px;font-size: 12px;}
ul, li {list-style-type: none;}
body{font-size:12px; background:#E6EBF1; font-family: "simsun";}
a{text-decoration:none;font-size: 12px;color: #000;}
a img {border:none;}
table,tr,td,th{border: 0;padding: 0;margin: 0;}
.hand{cursor: pointer;}
img{cursor: pointer;}
.l{float: left;}
.centerTable{text-align: center;}

/* 右侧上面导航 */
#rmenu{height: 23px;background: url("../images/main/tab-strip-bg.gif") repeat-x #DEECFD;width: 100%;border: 1px solid #8DB2E3;padding-bottom: 2px;padding-top: 1px;border-left: 0;border-right: 0;overflow: hidden;}
#rmenu .tab{height: 22px;float: left;cursor: pointer;background:transparent url(../images/main/tabs-sprite.gif) no-repeat 0 -51px;padding-left: 10px;margin-left: 2px;position: relative;}
#rmenu .tab .tab_left{background: transparent url(../images/main/tabs-sprite.gif) no-repeat right -351px;padding-right: 19px;display: block;}
#rmenu .tab .tab_inner{background:transparent url(../images/main/tabs-sprite.gif) repeat-x 0 -201px;font: normal 11px tahoma,arial,helvetica;color:#416AA3;white-space: nowrap;cursor: pointer;display: block;line-height: 22px;}
#rmenu .tab_curr{height: 23px;float: left;cursor: pointer;background:transparent url(../images/main/tabs-sprite.gif) no-repeat 0 0;padding-left: 10px;margin-left: 2px;position: relative;z-index: 2;}
#rmenu .tab_curr .tab_left{height: 23px;background: transparent url(../images/main/tabs-sprite.gif) no-repeat right -301px;padding-right: 19px;display: block;}
#rmenu .tab_curr .tab_inner{background:transparent url(../images/main/tabs-sprite.gif) repeat-x 0 -151px;font: normal 11px tahoma,arial,helvetica;color:#15428B;white-space: nowrap;cursor: pointer;display: block;font-weight: bold;line-height: 23px;}
#rmenu .tab_close {background-image: url(../images/main/tab-close.gif);opacity: .6;-moz-opacity: .6;background-repeat: no-repeat;display: block;width: 11px;height: 11px;position: absolute;top: 3px;right: 3px;cursor: pointer;z-index: 2;}
#rmenu .tab_h{height: 1px;font-size: 0;position: absolute;top: 24px;background: #8DB2E3;width: 100%;z-index: 1;left: 0;}

.rmain{border: 1px solid #8DB2E3;border-top: 0;}

/* 标题 */
.main_t{height: 30px;background: url("../images/main/t_line.jpg") repeat-x;font-size: 12px;padding-right: 15px;overflow:hidden;}
.main_t .jt{float: left;margin-top: 8px;margin-left: 8px;display: inline;}
.main_t .title{float: left;margin-left: 11px;margin-top: 8px;display: inline;color: #9B9D9C;}
.main_t .title font{color: #615C48;font-size: 12px;}
.main_t .icon{float: right;margin-right: 11px;display: inline;margin-top: 3px;width: 21px;height: 21px;}

/* 搜索 */
.search{background: #fff;border: 1px solid #ccc;width: 97%;margin: auto;margin-top: 6px;margin-bottom: 6px;}
.search table{border: 0;padding: 0;margin: 0;font-size: 12px;width: 100%;}
.search table tr{height: 31px;}
.search table tr .text{border: 1px solid #7F9DB9;background: #fff;width: 130px;padding: 1px;margin: 0;}
.search table tr .calendar{border: 1px solid #7F9DB9;background: #fff;width: 113px;padding: 1px;margin: 0;float: left;}
.search table tr select{width: 134px;padding: 0;margin: 0;}
.search table tr th{text-align: left;font-weight: normal;padding-right: 5px;width: 90px;padding-left: 30px;}
.search table tr td{text-align: left;}
.search table tr .searchBut{text-align: right;padding-right: 30px;padding-left: 10px;padding-bottom: 5px;}


/* 列表 */
.content_frame{width: 97%;margin: auto;height: 100%;}
.content_frame iframe{width: 100%;height: 100%;}
.content{width: 100%;margin: auto;background: #ffffff;}
#content_table{background: #ccc;border: 0;padding: 0;font-size: 12px;margin: 0;width: 100%;}
#content_table tr{background: #fff;height: 28px;}
#content_table .trbg{background: #EFF3FE;height: 28px;}
#content_table tr th{color: #666;text-align: center;background: url("../images/main/table_th.jpg") repeat-x;font-weight: bold;}
#content_table tr td{color: #858688;padding-left: 3px;}
#content_table tr td a{color: #E87B02;text-decoration: underline;}

/* 弹出页详细页 */
#detail{width: 100%;}
#detail table{width: 100%;padding: 0;border: 0;margin: 0;}
#detail th{text-align: left;height: 25px;padding: 0;border-bottom: 1px solid #ccc;padding-left: 20px;width: 120px;font-size: 12px;}
#detail td{font-size: 12px;text-align: left;padding-left: 3px;padding: 0;border-bottom: 1px solid #ccc;padding-left: 6px;}

/* 弹出页添加页 */
#insert{width: 100%;}
#insert th{font-size: 12px;text-align: right;height: 25px;padding-left: 11px;}
#insert td{font-size: 12px;text-align: left;}
#insert td a{text-decoration: underline;}
.insert_text{width: 250px;}
.insert_tip{font-weight: bold;font-size: 12px;color: blue;}
.insert_but{cursor: pointer;margin-left: 11px;font-size: 12px;text-align: center;color: blue;text-decoration: underline;font-size: 14px;}

/* 添加/修改页面 */
.edit{width: 50%;margin: auto;margin-top: 30px;border-right: #4A9AD6 0px solid;}
.edit table{width: 70%;}
.edit table tr th{padding-bottom: 10px;padding-right: 20px;white-space:nowrap;}
.edit table tr td{padding-bottom: 10px;white-space:nowrap;}

/* loading */
.load_m{background: url("../images/main/bg.gif") #fff;position: absolute;width: 100%;height: 100%;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;text-align: center;top: 0;left: 0;cursor: wait;z-index: 1001;}
.load_c{position: absolute;width: 100%;text-align: center;top: 30%;left: 0;cursor: wait;z-index: 1002;}


/* 集成之前的框架 */
.inputtextfield{width:138px;}
.inputtextfieldlong{width:188px;}
.style1 {color: #FF0000;}
.bg_wornd_01 {background-image: url(../images/main/bg_worrd_02.jpg);background-repeat: repeat-x;background-position: top;}


/* *************************** app style *************************** */



